<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Signup", "Signup", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li><a href="#" onclick="logout(window.location.host)">Log out</a></li>
</ul>
